@import "fields/accounts.css";
@import "fields/common-fields.css";
@import "fields/general-fields.css";
@import "fields/toyota-fields.css";

textarea {
    min-height: 100px;
}

.input-group-text {
    background-color: white;
    transition: all 150ms;
}

.input-group.active .input-group-text {
    background-color: #444;
    color: #fff;
}

.form-control:focus, .custom-select:focus  {
    box-shadow: none;
}

.nav-link {
    transition: background-color 300ms;
}

.right-fields-container {
    padding-left: 0;
}